.home-page-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: 'space-around';
  overflow: 'hidden';
  background-color: '#F6F6F6';
  flex-grow: 1;
}
.grid-wrapper {
  display: flex;
  width: 80%;
  align-items: center;
  flex-wrap: wrap;
}
.product-wrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 330px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  position: relative;
  background-color: aliceblue;
}
.home-page-product-image {
  max-height: 200px;
  max-width: 200px;
  /* position: absolute;
  bottom: 125px; */
}

.add-to-cart-button-wrapper {
  position: absolute;
  bottom: 12px;
}
.labels-input-wrapper-home-page {
  position: absolute;
  bottom: 66px;
  display: flex;
  flex-direction: column;
}
