.home-page-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: 'space-around';
  overflow: 'hidden';
  background-color: '#F6F6F6';
  flex-grow: 1;
}
